
    <div class="row" style="margin-left:-100px">
        <div class="row">
            <img src="~/image/travel.png" style="margin-top:80px;margin-left:310px;width:90px;height:90px" />
        
        
            <h4 style="        font-weight: bold;
        color: #02598f;
        margin-top: 95px;
        margin-left: 5px">Hotel Network</h4>
       
        
            <p style="color:#D4AC0D;font-style:italic;margin-top:130px;margin-left:425px;position:absolute;font-size:20px">the way to go</p>
        
            </div>

        <div style="height:130px;width:1px;background-color:lightgray;margin-left:60px;margin-top:60px"></div>
        <h4 style="margin-left:660px;margin-top:-72px;color:#D4AC0D">
            <strong>Welcome To The  World of Hotels . Find your ideal hotel !</strong>
        </h4>




    </div>
