
@{
    ViewData["Title"] = "AcceptMessage";
}

<div class="card shadow-sm bg-light mb-3" style="width:600px;margin-top:130px;margin-left:280px">
    <div class="card-header bg-info" style="color:white">
        <strong>
            <i class="fa fa-comment" aria-hidden="true"></i> Account Requested Message
        </strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">Account in Processing</h5>
        <p class="card-text" style="color:gray">
            your Account is still in processing ....be patient it will take some days to
            accept your request for buiness account
        </p>
    </div>
</div>

