
@model HotelCloudBedSystem.Areas.Admin.ViewModels.AdminProfileViewModel

@{

}
<section class="content-header">
    <h1>
        User Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
    </ol>
</section>
<div class="row" style="margin-left:-5px;">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                @if (Model.AvatarImage == null)
                {

                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="border-radius: 50%;width:80px;height:80px;margin-left:70px;" alt="woman avatar">
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.AvatarImage);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                    <img src='@imgsrc' style="width:130px;height:130px;margin-left:45px;" class="img-circle" alt="User Image">
                    @*<img id="adminpicture" src='@imgsrc' alt="woman avatar">*@
                }

                <h3 class="profile-username text-center">@Model.FirstName @Model.LastName</h3>

                <p class="text-muted text-center">@Model.Email</p>
                <a  class="btn btn-primary btn-block" id="profilepicbtn" asp-area="Admin" asp-controller="UpdateProfile" asp-action="_UpdateProfilePicture"><b>Upload Profile Picture</b></a>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                <p class="text-muted">
                    Doing B.S.E  from Comsats University Islamabad,Abbotabad
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">Abbotabad,Pakistan</p>

                <hr>

                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                <p>
                    <span class="label label-danger">Andriode</span>
                    <span class="label label-success">Coding</span>
                    <span class="label label-info">Javascript</span>
                    <span class="label label-warning">PHP</span>
                    <span class="label label-primary">Node.js</span>
                </p>

                <hr>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <div class="tab-content">

                <div id="settings">
                    <form class="form-horizontal" asp-area="Admin" asp-controller="Adminprofile" asp-action="Index" 
                          method="post">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">FirstName</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="FirstName" asp-for="FirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label" asp-for="LastName">Last Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email" asp-for="LastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Email" asp-for="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">PhoneNo</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" placeholder="PhoneNo" asp-for="PhoneNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address" class="col-sm-2 control-label">Address</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" placeholder="Address....." asp-for="Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="About you" class="col-sm-2 control-label">About you</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="about you" placeholder="About......" asp-for="Aboutyou">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">EmailConfirmed</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" disabled placeholder="EmailConfirmed" asp-for="EmailConfirmed">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">IsEnabled</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" placeholder="IsEnabled" disabled asp-for="IsEnabled">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Role</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" disabled placeholder="Role" asp-for="role">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info text-center" style="width:667px;margin-left:138px;"><i class="fa fa-user" ></i>Update Profile</button>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    @*<button style="width:830px;right:-20px;" type="button" class="btn btn-primary btn-lg btn-block"><i class="fa fa-book margin-r-5"></i>Update Education</button>
    <button style="width:830px;right:-20px;" type="button" class="btn btn-danger btn-lg btn-block"><i class="fa fa-map-marker margin-r-5"></i>Update Address</button>
    <button style="width:830px;right:-20px;" type="button" class="btn btn-success btn-lg btn-block"><i class="fa fa-pencil margin-r-5"></i>Update Skills</button>*@
    <!-- /.col -->
</div>

<div class="modal" id="profilePicmodal">

</div>


@section Scripts{
    <script>

       //Create
        $(function () {
            $("#profilepicbtn").on("click", function (e) {
                e.preventDefault();
                var btn = $(this);
                console.log("Button 1 is working...");
                $.ajax({
                    url: btn.attr('href'),
                    type: 'GET',
                    success: function (response) {
                        $("#profilePicmodal").html(response);
                        $("#profilePicmodal").modal('show');
                    }
                });
            });
        })

    </script>

}