
@{
    ViewData["Title"] = "SuccessfullpyamentMessage";
}

    <div class="card shadow-sm bg-light mb-3" style="width:600px;margin-top:130px;margin-left:280px">
        <div class="card-header bg-info" style="color:white">
            <strong>
                <i class="fa fa-comment" aria-hidden="true"></i> Succful Payment Message
            </strong>
        </div>
        <div class="card-body">
            <h5 class="card-title">Payment Message</h5>
            <p class="card-text" style="color:gray">
                congratulations...
                Your reservation and Pyment is completed successufly...

            </p>
        </div>
    </div>

