@model HotelCloudBedSystem.ViewModels.HotelRegisterationViewModel
@{
    ViewData["Title"] = "HotelRegister";
}

<style>
    #boxshadow {
        position: relative;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        padding: 10px;
        background: white;
    }

        #boxshadow::after {
            content: '';
            position: absolute;
            z-index: -1; /* hide shadow behind image */
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
            width: 70%;
            left: 15%; /* one half of the remaining 30% */
            height: 100px;
            bottom: 0;
        }

    #Subbtn {
        background-color: #02598f;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: 1px solid #6d7b84;
    }
</style>



<div class="card shadow-sm border-light mb-3">
    <div class="card-header" style="background-color:#02598f">
        <h5 style="color:#D4AC0D">
            <i class="fa fa-user-circle-o"></i><span style="        color: white
"> Hotel Registeration</span>
        </h5>
    </div>
    <div class="card-body" style="background-color:white">
        <div class="row">
            <div class="col-md-7">
                <section>
                    <form asp-area="" asp-controller="HotelRegisteration"
                          asp-action="HotelRegister" method="post">
                        @Html.HiddenFor(model => model.AppUserId)
                        <div class="form-group">
                            <label asp-for="HotelName">Hotel Name</label>
                            <input asp-for="HotelName" class="form-control" id="htlname" placeholder="Hotel Name" style="width:750px">
                            <span asp-validation-for="HotelName"></span>
                        </div>



                        <div class="form-row" style="margin-top:5px;">
                            <div class="form-group col-md-6">
                                <label asp-for="NoOfFloors">Hotel Floors</label>
                                <input asp-for="NoOfFloors" type="text" class="form-control" id="floor" placeholder="Hotel Floors">
                                <span asp-validation-for="NoOfFloors"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="NoOfRooms">Hotel Rooms</label>
                                <input asp-for="NoOfRooms" class="form-control" id="room" placeholder="HotelRooms">
                                <span asp-validation-for="NoOfRooms"></span>
                            </div>
                        </div>

                        <div class="form-row" style="margin-top:5px;">
                            <div class="form-group col-md-6">
                                <label asp-for="HotelCity">City</label>
                                <input asp-for="HotelCity" class="form-control" id="city" placeholder="City">
                                <span asp-validation-for="HotelCity"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ZipCode">Zip Code</label>
                                <input asp-for="ZipCode" class="form-control" id="zcode" placeholder="ZipCode">
                                <span asp-validation-for="ZipCode"></span>

                            </div>
                        </div>

                        <div class="form-group ">
                            <label asp-for="Description">About Hotel</label>
                            <input asp-for="Description" class="form-control" id="about" placeholder="About Hotel" style="width:750px">
                            <span asp-validation-for="Description"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Address">Address in Words</label>
                            <input asp-for="Address" class="form-control" id="add" placeholder="CompleteAddress" style="width:750px">
                            <span asp-validation-for="Address"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="AppUser">Manager</label>
                            <input asp-for="AppUser" class="form-control" id="manager" placeholder="manager" style="width:750px">
                            <span asp-validation-for="AppUser"></span>
                        </div>

                        <button type="submit"  style="width:750px;height:47px;font-weight:500" id="Subbtn">
                            <i class="fa fa-hotel"></i> Add Hotel
                        </button>
                    </form>
                </section>
            </div>
            <div class="col-md-5">
                <section>
                    <h4>Register Your hotel Here!.</h4>
                    <hr />
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                    <img src="~/image/travel.png" style="width:350px;
                             height:350px;margin-left:100px;margin-top:0px" />
                </section>
            </div>
        </div>


    </div>

</div>
